/* .column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
} */


.title {
    margin: 0;
    padding: 0 0 1.2rem 0;
    font-size: 2rem;
}

.description {
    margin: 0;
}


.row {
    background-color: #f1f1f1;
}

@media screen and (max-width:600px) {
    /* .column {
        width: 100%;
    } */
}