.hero {
    background-image: url("../images/seth-doyle-78210-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    top: 0;
    /* top: -44px; */
    /* opacity: 0.5; */

}

@media (max-width: 768px) {
    .hero {
        position: relative;
        top: -44px;
    }
}